<div class="container"> 
	<button mat-flat-button color="primary"><mat-icon aria-hidden="false" aria-label="scan icon">center_focus_weak</mat-icon>
		Scan code</button>
</div>

<div class="container">
	<mat-form-field appearance="outline">
		<mat-label>Manual Entry</mat-label>
		<input matInput required type="number" pattern="\d*" min="0" max="9999" maxlength="4">
		<mat-icon matSuffix>money</mat-icon>
		<mat-hint>Enter 4 Digit PIN found on Visitor Band</mat-hint>
	</mat-form-field>
	<button mat-flat-button color="primary" type="submit">Confirm</button>
</div>

<div class="container">
	<mat-form-field appearance="outline">
		<mat-label>Group Visit</mat-label>
		<input matInput required type="number" pattern="\d*" min="0" max="9999" maxlength="4">
		<mat-icon matSuffix>people</mat-icon>
		<mat-hint>Enter amount of people in group event</mat-hint>
	</mat-form-field>
	<button mat-flat-button color="primary" type="submit">Confirm</button>
</div>
