<!-- <div class="container">
		{{agency.name}}
</div> -->

<div class="container"> 
	<button mat-raised-button color="primary" id="scanButton"><mat-icon aria-hidden="false" aria-label="scan icon">center_focus_weak</mat-icon>
		Scan code</button>
</div>

<div class="container">
	or 
	<mat-form-field appearance="outline">
		<mat-label>Manually enter PIN</mat-label>
		<input matInput required ngModel name="manualEntry" [(ngModel)]="code" id="manualEntry" #manualEntry="ngModel" type="text" pattern="\d{5}" maxlength="5">
		<mat-icon matSuffix>money</mat-icon>
		<mat-hint>Enter PIN found on Visitor Band</mat-hint>
	</mat-form-field>
	<button mat-flat-button color="primary" type="submit" class="submitButton" (click)="addSingleVisit()">Enter</button>
	<div class="alert alert-danger" *ngIf="manualEntry.touched && !manualEntry.valid">
		<div *ngIf="manualEntry.errors.required">Please enter a number</div>
		<div *ngIf="manualEntry.errors.pattern">A PIN consists of only 5 numbers (0–9).</div>
	</div>
</div>

<div class="container">
	or 
	<mat-form-field appearance="outline">
		<mat-label>Group visit</mat-label>
		<input matInput required ngModel name="groupEntry" [(ngModel)]="groupNumber"  id="groupEntry" #groupEntry="ngModel" type="text" pattern="[0-9]?[1-9]" maxlength="2">
		<mat-icon matSuffix>people</mat-icon>
		<mat-hint>Enter number of attendees</mat-hint>
	</mat-form-field>
	<button mat-flat-button color="primary" type="submit" class="submitButton" (click)="addGroupVisit()">Enter</button>
	<div class="alert alert-danger" *ngIf="groupEntry.touched && !groupEntry.valid">
		<div *ngIf="groupEntry.errors.required">Please enter a number</div>
		<div *ngIf="groupEntry.errors.pattern">Value must be between 1-99</div>
	</div>
</div>
