@import '../../styles.scss';

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
        -webkit-appearance: none;
   margin: 0;
 }

/* Firefox */
input {
  -moz-appearance: textfield;
  letter-spacing: 2em;
}

.container {
  padding: 2em;
  margin: 1em 0px 1em 0px;
  background: whitesmoke;
  border-radius: 2em;
  text-align: center;
}

#scanButton {
  padding: 1em 0px 1em 0px;
  width: 95%;
}


mat-form-field {
  margin-right: 1em;
  margin-left: 1em;
}