@import '../../styles.scss';

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
        -webkit-appearance: none;
   margin: 0;
 }

/* Firefox */
input {
  -moz-appearance: textfield;
  letter-spacing: 2em;
}

.container {
  padding: 2em;
  background: mat-color($primary, lighter);
}
