<header>
    <nav>
        <img src="../assets/img/Connect-with-us-image.png" alt="G/S Logo" style="max-height:26px;">
        &nbsp;Visit reports
    </nav>
</header>

<!--
	Shows the login component if the user has not logged in
-->
<div *ngIf="!loginSuccessful">
	<app-login [app]="this"></app-login>
</div>

<!--
	Shows the home component if the user has logged in
		When the home component is shown:
-->
<div *ngIf="loginSuccessful">
	<app-home ></app-home> <!-- Pass the selected agency to the home component -->
</div>

<router-outlet></router-outlet>