<!-- ALL HARDCODED PLACEHOLDER DATA -->

<div class="flexible">
    <div class="big-container">
        <p>
          <span class="big-headline">{{totalMultipleVisits}} ({{formatPercent(totalMultipleVisits / totalNumVisits * 100)}}%) </span><span class="big-display">of all</span><span class="big-headline"> {{totalNumVisits}} visits </span><br>
        <span class="big-display">involved multiple agencies</span>
        </p>
        <p>Of those visits:</p> 
            <ul>
                <li><b>{{totalNumPairVisits}} ({{formatPercent(percentageOfPairVisits)}}%)</b> were to <b>2</b> agencies</li>
                <li><b>{{totalNumTripletVisits}} ({{formatPercent(percentageOfTripletVisits)}}%) </b> were to <b>3</b> agencies</li>
                <li><b>{{totalNum4Visits}} ({{formatPercent(percentageOf4Visits)}}%) </b> were to <b>4</b> agencies</li>
                <li><b>{{totalNum5PlusVisits}} ({{formatPercent(percentageOf5PlusVisits)}}%) </b> were to <b>5 or more</b> agencies</li>
            </ul>
        <a>download all visit data ></a>
    </div>
    
    <div class="small-container">
        <p>
            <span class="small-headline">Most popular pair</span>
        </p>
                <ul>
                  <li><b>B</b>{{mostCommonPairList[0]}}</li>
                  <li><b>C3</b>&ensp;{{mostCommonPairList[1]}}</li>
                </ul>
        <p>
        <a>download all pairing data ></a>
        <br>
        <br>
            <span class="small-headline">Most common triplet</span>
        </p>
                <ul>
                    <li><b>A</b>&ensp;Berges Hogan United</li>
                    <li><b>C1</b>&ensp;GentleCare</li>
                    <li><b>E</b>&ensp;Life Fruit Elder Food Bank</li>
                 </ul>
        <a>download all triplet data ></a>
    </div>

    <div class="big-container">
        <p>
        <span class="big-headline">Monday 2:00–3:00 PM</span><br>
        <span class="big-display">Busiest hour of the week</span>
        </p>
        <a>download popular times ></a>
    </div>
</div>

