@import '../styles.scss';

header {
	font-size: mat-font-size($custom-typography, display-1);
	line-height: mat-line-height($custom-typography, display-1);
	font-weight: mat-font-weight($custom-typography, display-1);
	background: mat-color($primary);
	padding: 1em;
	color: white;
}